body * {
    padding: 2rem;
}

/* container grid */
body {
    height: 100vh;
    text-align: center;
    font-size: 1.6rem;

    /* créer la grille */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

/* attribuer des cases de la grille aux éléments HTML*/
header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #e7c79e;
}

.img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
}

.img2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.article1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #4767c5;
}

.article2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #6391bd;
}

.archives {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #c95050;
}

.pub {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #d76fb3;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #e7c79e;
}