$navHeigh : clamp(4rem, 8vw, 6rem);//100px;
$favHeigh : clamp(2rem, 8vw, 4rem);
$favHeigh2 : clamp(1.5rem, 8vw, 2rem);
$favHeigh3 : clamp(1rem, 8vw, 1.5rem);
$titleHeigh : clamp(1rem, 4vw, 1.5rem);
$paddingMain : 50px;
$colorPink : rgba(255, 143, 148, 255); // https://imagecolorpicker.com/
$borderSimple : 1px black solid;
body {
    _padding-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    #nav {
        top: 0;
        align-items: center;
        height: $navHeigh;
        display: flex;
        position: fixed;
        border-bottom: $borderSimple;
        width: 99%;
        background-color: white;
        opacity: 0.8;

        #aHome {
            color: $colorPink;
        }

        a {
            color:black; // link on black at first visit
            font-size: clamp(1rem, 2vw, 1.5rem);
            _opacity: 100%;
            margin: 0 auto;
            text-decoration: inherit;
            padding: 0;

            &::first-letter {
                text-transform: capitalize;
            }

            &:visited {
                text-decoration: inherit;
                color: inherit;
            }

            &::after {
                content: '';
                background-color: $colorPink;
                position: absolute;
                top: 4.5rem; // clamp(1rem, 2vw,5rem);
                height: 0.2rem;
                width: 0;

                @media screen and(max-width:960px) {
                        top: 3.1rem;
                }
            }

            &:hover {
                _text-decoration: underline;
                color: $colorPink !important;

                &::after {
                    display: block;
                    width: 2rem;
                    transition: width 0.3s ease-in;
                    // }
                }

                // #home:target {
                //     color: $colorPink;
                // }
            }
        }
        i {
            @media screen and(max-width:1024px) {
                font-size: $favHeigh2;
            }
            @media screen and(max-width:769px) {
                font-size: clamp(0.8rem, 8vw, 1.3rem);//$favHeigh3;

            }
        }
    }

    main {
        margin: $navHeigh 0;
        margin-bottom: 0px;
        padding: $paddingMain;
        _margin-left: $paddingMain;

        #Home {
            #homeContent {
                margin: 2em 0;
                padding: 2em 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                _align-items: center;

                // a travailler
                #homeContent_fav div {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    // justify-content: space-around;
                    gap: 0 4rem;

                    i {
                        // impossible de changer la size en CSS : https://www.tutorialspoint.com/How-to-set-the-favicon-size-in-CSS-rather-than-HTML-attributes
                        // -> classe fa-5x
                        // width: 1000%;
                        // height: 1000%;
                        display: inline;
                        text-align: center;
                        border: 2px solid black;
                        border-radius: 50%;
                        padding: 2rem;
                        font-size: $favHeigh;

                        @media screen and(max-width:1024px) {
                            font-size: $favHeigh2;
                            padding: 1.2em;
                        }
                        @media screen and(max-width:769px) {
                            font-size: $favHeigh3;
                            border: $borderSimple;
                            padding: 10px;
                        }
                    }

                    @media screen and(max-width:480px) {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }

        #Blog {
            #blogContent {
                display: flex;
                flex-direction: column;
                // width: 75%;
                // position: relative;

                img {
                    display: inline;
                    max-width: 100%;
                    min-height: 100%;
                }

                div:nth-child(2n) {
                    // justify-content: left;
                    // position: absolute;
                    // right: 0;
                    // align-self: flex-end;
                    // justify-self: flex-end;
                    margin-left: auto;
                    max-width: 75%;
                }

                div:nth-child(2n+1) {
                    // justify-content: right;
                    // position: absolute;
                    // left: 0;
                    max-width: 75%;
                }

                // p {
                //     &.blogTitle {
                //         font-size: 1.5em;
                //         font-weight: bold;
                //     }

                //     &.blogSignat {
                //         text-align: right;
                //         font-weight: bold;
                //     }
                // }
                p {
                    font-weight: bold;
                    &.blogTitle {
                        font-size: $titleHeigh;//1.5em;
                    }

                    &.blogSignat {
                        text-align: right;
                    }
                }
            }
        }

        #Add {
            .form {
                box-sizing: border-box;
                margin: 2px;
                width: 100%;

                input,
                textarea {
                    width: 90%;

                    &[type='submit'] {
                        background-color: $colorPink;
                        color: white;
                        height: 2rem;
                        border: none;
                        _border-radius: 10%;
                    }
                }

            }
        }

        #About {
            div.flexContainer {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                div {
                    max-width: 50%;

                    // &:first-child {
                    &:nth-child(1) img {
                        margin-bottom: 1rem;
                    }

                    &:nth-child(2) aside {
                        margin-bottom: 1rem;
                    }

                    img {
                        width: 100%;
                        // height: 100%;
                        // object-fit: cover;
                        // object-position: center;
                    }

                    // justify-content: center;
                    _align-items: center;

                    &:nth-child(2) {
                        _margin-left: 10px;
                        // background-color: black;
                    }
                }
            }
        }

    }

    footer {
        #footerPart1 {
            width: 100%;
            height: 100%;
            display: flex;
            _justify-content: center;
            align-items: center;
            _align-content: center;
            
            #contact,
            #legal {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                _margin: 2em;

                li {
                    margin: 3em 0;

                    & i {
                        _height: 50px;
                        _width: 50px;
                    }
                }

                #legalMentions li {
                    margin: 2em 0;

                    &:first-letter {
                        text-transform: capitalize;
                    }
                }

                #legalIcons li {
                    margin: 3em 0;
                    _height: 50px;
                    _width: 50px;
                }

                #legalIcons {
                    _display: flex;
                    _flex-direction: row;
                }
            }

            // hide map when screen too small
            @media screen and(max-width:481px) {
                #map {
                    display: none!important;
                }
            }
            @media screen and(max-width:1024px) {
                flex-direction: column;
                #contact {
                    flex-direction: column;
                    justify-content: space-evenly;
                    li {
                        //line-height:0.5rem;
                        margin: 0.3px;
                    }
                }
                #legal {
                    justify-content: space-evenly;
                        ul li {
                            margin: 0.3px!important;
                        }
                }

            }

            // #map {
            //     position: relative;
            //     width: 100%;
            //     overflow: hidden;
            //     padding-top: 66.66%;

            //     /* 3:2 Aspect Ratio */
            //     iframe {
            //         position: absolute;
            //         top: 0;
            //         left: 0;
            //         bottom: 0;
            //         right: 0;
            //         width: 100%;
            //         height: 100%;
            //         border: none;
            //     }
            // }

        }

        a {
            text-decoration: inherit;
            color: black; // for links to show in black at first visit

            &::first-letter {
                text-transform: capitalize;
            }

            &:visited {
                _text-decoration: inherit;
                _color: black;
            }
        }

        li {
            list-style-type: none;
            _margin: 0 2em;
            _padding: 0 2em;
        }
    }

    #upArrow {
        _justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        i {
            text-decoration: none;

            &:visited {
                text-decoration: none;
                color: black;
            }
        }
    }

    #footerPart2 {
        text-transform: capitalize;
        text-align: center;
    }


    // GENERAL

    // concerns only pink titles
    #joinUs,
    #ourBlog,
    #addYourArticle,
    #aboutUs {
        font-family: Satisfy, Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3rem;
        width: 100%;

        p {
            font-size: clamp(1.5rem, 3vw, 2.85rem);
            color: $colorPink;
            text-align: center;
            width: 100%;
            margin-top: 0em;
            margin-bottom: 2em;

            &::first-letter {
                text-transform: capitalize;
            }

        }
    }

    p:not(.pageTitle),
    div:not(.pageTitle),
    form {
        font-size: clamp(0.8rem, 2vw, 1.3rem);
    }

    // @media (min-width: 480px) {
    //     img {
    //         width: 100%;
    //     }
    // }

    // img {
    //     object-fit: cover;
    // }

}