$baseColor: #41a882dc;
$redColor: red;
$whiteColor: white;
$h1color: #142b22a8;

// on défini un règle utilisable dans le code, avec val par défaut de color mais changeable à chaque appel
@mixin title-formating($col: $h1color) {
    color: $col;

    &::first-letter {
        text-transform: capitalize;
    }
}

@mixin par-formating($col: red) {
    color: $col;
}

body {
    background-color: $baseColor;
    font-family: lato, verdana;

    h1 {
        text-decoration: underline overline;
        @include title-formating();
    }

    h2 {
        text-decoration: underline;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    .header {
        &__description {
            @include par-formating($whiteColor);
        }
    }

    .indent {
        text-indent: 30px;
    }

    /* Ajoute une flèche devant les liens */
    a:before {
        content: "→ ";
    }

    blockquote:after {
        content: " :";
    }

    // extension SASS
    %font-mise-en-forme {
        color: $whiteColor;
        font-style: 1.3rem;
        font-weight: bolder;
    }

    .section {
        &__par {
            // @extend la règle SASS
            @extend %font-mise-en-forme;
        }

        &__title {
            color: green;
            @extend %font-mise-en-forme;
        }

        &__subtitle {
            @extend %font-mise-en-forme;
            color: $h1color;
        }
    }
}