$baseColor: #41a882dc;
$h1color: #142b22a8;

body {
    background-color: $baseColor;
    font-family: lato, verdana;
    h1 {
        text-decoration: underline overline;
        color: $h1color;
        &::first-letter {
            text-transform: capitalize;
        }
    }
    h2 {
        text-decoration: underline;
        &::first-letter {
            text-transform: capitalize;
        }
    }
    .indent {
        text-indent: 30px;
    }
    /* Ajoute une flèche après les liens */
    a:after {
        content: "→";
    }  
}