html {
    scroll-behavior: smooth;
}

header, .sticky-banner {
    color: #fff;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    font-size: 2.2rem;
}

header {
    background: #373737;
}

.sticky-banner {
    background: #daa520;
    position: sticky;
    top: 10rem;
}

.sticky-anchor {
    position: sticky;
    left: 90%;
    top: 8rem;
}