$simpleBorders :2px solid black;
$colGreen : rgb(35, 141, 35);

%whiteBorder {
    border: 1px solid #FFF;
}

html {
    background-color: grey;
}

.container {
    border: $simpleBorders;
    background-color: $colGreen;
    margin: 20px;
    padding: 20px;
}

.article {
    // border: $redBorder;
    @extend %whiteBorder;
}

button {
    padding: 0.5rem;
    border-radius: 1rem;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}

.label {
    color: white;
    font-family: verdana;
    font-size: 0.9rem;
}